.buttonLink {
	display: inline-block;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: var(--common-border-radius);
	transition: var(--common-transition);
	text-decoration: none;
}

.caption {
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
}

.caption > svg {
	margin-right: 8px;
}

.buttonLink_type_primary {
	color: var(--text-inactive-color);
	background: inherit;
}

.buttonLink_type_primary.active {
	color: var(--text-primary-color);
	background: inherit;
}

.buttonLink_type_primary:hover {
	color: var(--text-primary-color);
	box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25), 0px 0px 8px 8px rgba(51, 51, 255, 0.25);
	filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}

.buttonLink_type_primary:active {
	opacity: 0.9;
}

.buttonLink_type_secondary {
	color: var(--colors-interface-accent);
	background: transparent;
}

.buttonLink_type_secondary:hover {
	color: var(--text-primary-color);
	opacity: 0.9;
}

.buttonLink_type_secondary:active {
	color: var(--text-primary-color);
}

.buttonLink_size_large {
	font-family: 'Jet Brains Mono', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	padding: 20px 40px;
}
.buttonLink_size_medium {
	font-family: 'Jet Brains Mono', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	padding: 16px 40px;
}
.buttonLink_size_small {
    font-family: 'JetBrains Mono', sans-serif;
	font-size: 14px;
	line-height: 1.43;
	font-weight: normal;
	padding: 10px 20px;
}
.buttonLink_type_primary[disabled] {
	color: var(--text-inactive-color);
	background: inherit;
	pointer-events: none;
}
.buttonLink_type_secondary[disabled] {
	color: var(--text-inactive-color);
	pointer-events: none;
}