.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  composes: content;

  max-height: 60vh;
  width: 600px;
  overflow-y: scroll;
}