.content{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 16px;
}


.button_order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.box {
    composes: content;
    max-height: 60vh;
    overflow-y: scroll;
}