.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    padding: 0;

    overscroll-behavior: contain;
    scrollbar-gutter: stable;

    /*reset for <dialog>*/
    border: none;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
}

.modal::backdrop{
    /*Overlay*/
    background-color: rgba(0, 0, 0, 0.6);
}

.modal_dialog{
    z-index: 10;
    position: relative;
    border-radius: var(--common-border-radius-s) var(--common-border-radius-s);
    background-color: var(--background);

    pointer-events: auto;
}

@media (min-width: 576px) {
    .modal_dialog {
        min-width: 500px;

    }
}

@media (min-width: 992px) {
    .modal_dialog {
        min-width: 720px;
    }
}

.close_icon_content{
    position: absolute;
    top: 60px;
    right: 40px;

    cursor: pointer;
}

.modal_content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 200px;
}


